#inputBox {
    .input-lable {
        letter-spacing: 0.5px;
        color: black;
        font-size: 13px;
        font-weight: 600;
        margin-top: 20px;
    }
    .input-box {
        line-height: 17px;
        font-size: 16px;
        font-family: 'stagsans-book', sans-serif;
        font-weight: 400;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        height: 50px;
        width: 100%;
        padding: 0 15px;
        box-shadow: none;
        margin-top: 10px;
        border-radius: 5px;
    }
    .input-box-error {
        border: 2px solid red;
    }
    .input-box-clean {
        border: 1px solid grey;
    }
}
