#error-box {
    li {
        list-style-type: disc;
    }
    .root_error {
        text-align: center;
        color: red;
        border: 1px solid red;
        padding: 5px 0px;
        margin-bottom: 20px;
    }
    .errorList {
        text-align: left;
        display: inline-block;
        padding: 0px;
    }
}
