#sign-up {
    h1 {
      text-align: center;
    }
    .sign-up {
      width: 50%;
      margin: auto;
    }
    .signUp-div {
      margin: 20px;
      text-align: center;
    }
    .signUp-button {
      cursor: pointer;
      background-color: #0070f0;
      padding: 0.3rem 2.5rem;
      font-size: 1.5rem;
      line-height: 1.6rem;
      color: white;
    }
  }
  